ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=hoshivibe;Username=postgres;Password=your_password;SSL Mode=Disable

Jwt__Secret=your_jwt_secret
Jwt__Issuer=Hoshi_Vibe_Web_Page
Jwt__Audience=EcomereWebApp
Jwt__ExpireDays=2

MomoAPI__MomoEndpoint=https://test-payment.momo.vn/gw_payment/transactionProcessor
MomoAPI__PartnerCode=MOMO
MomoAPI__AccessKey=your_momo_access_key
MomoAPI__SecretKey=your_momo_secret_key
MomoAPI__RequestType=captureMoMoWallet
MomoAPI__ReturnUrl=https://localhost:7280/api/payments/confirm
MomoAPI__NotifyUrl=

VnPay__TmnCode=your_vnpay_tmn_code
VnPay__HashSecret=your_vnpay_hash_secret
VnPay__PaymentUrl=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VnPay__ReturnUrl=https://hosivibe-be-production.up.railway.app/api/Payments/vnpay-return
VnPay__IpnUrl=https://hosivibe-be-production.up.railway.app/api/Payments/vnpay-ipn
VnPay__FrontendSuccessUrl=https://fe-hoshi-vibe.vercel.app/pay_success
VnPay__FrontendFailUrl=https://fe-hoshi-vibe.vercel.app/pay_fail
VnPay__Locale=vn
VnPay__CurrCode=VND
VnPay__Version=2.1.0
VnPay__Command=pay

EmailSettings__FromEmail=your_email@example.com
EmailSettings__AppPassword=your_email_app_password
